<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" href="/css/interested_launchrock.css">
	</head>
	<body>
		<div id="homeBoxes" style="margin: 0px auto;">
			<div id="content" class="layoutbox loginbox">
				<div class="lrdiscoverwidget dark-a" rel="launchrock.com" data-background="off" id="dlrWidget0" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; ">
					<div id="titlebar" class="titlebar" style="display: none; ">
						<p>
							Paran Yo langind page
						</p>
					</div>
					<div id="lrcontent" class="site lrcontent" style="box-shadow: none; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; ">
						<div id="boxlogo" style="text-align:center;margin-left:10px;"><img src="images/boxlogo.png" alt="LaunchRock">
						</div><h3 class="fancy" style="text-align:center;margin-top:100px;margin-bottom:30px;">Set up a <b>"</b>Launching Soon<b>"</b> page
						<br>
						in minutes.  Collect interest, increase sharing and build your audience.</h3><h3 id="site-tagline" class="site-tagline"></h3><p id="site-desc" class="site-desc"></p>
						<div id="inviteformIZGCNZBC" class="inviteform">
							<form action="" method="post" id="signupform">
								<label><em>Enter your email below to start creating a page now:</em></label>
								<input type="text" title="email@address.com" value="email@address.com" autocorrect="off" autocapitalize="off" data-initial="email@address.com" id="email" class="field blink">
								<input type="text" title="email@address.com" value="email@address.com" autocorrect="off" autocapitalize="off" data-initial="email@address.com" id="email" class="field blink">
								<input type="hidden" value="" id="refid">
								<input type="hidden" value="http://launchrock.com/?ref=" id="urlPrefix">
								
								<input type="hidden" value="launchsoon.appspot.com" id="lrDomain">
								<input type="submit" name="submit" id="submit" title="GO" value="GO" class="submit">
								<div class="cl">
									&nbsp;
								</div>
							</form>
						</div><div id="information"></div>
						<div class="site-powered-by">
							powered by <a href="http://launchrock.com" style="text-indent: -9000px; ">launchrock</a>
						</div>
					</div>
					<div class="site lrhidden lrcontent" id="dlrpagesubmit" style="box-shadow: none; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; ">
						<div id="boxlogo" style="text-align:center;margin-left:10px;"><img src="images/paranyologo.jpg" alt="Paran Yo">
						</div><h3 class="fancy" style="text-align:center;margin-top:100px;margin-bottom:40px;">Setup a viral <b>"</b>Launching Soon<b>"</b> page
						<br>
						in minutes.</h3><h3 id="site-tagline" class="site-tagline"></h3><p id="site-desc" class="site-desc"></p><p id="live-stats" class="live-stats"></p>
						<p id="invite-label" class="invite-label" style="text-align:center">
							<span></span>
						</p>
						<div class="like">
							<div id="sharebuttons">
								<span id="facebook" class="facebook">[ Facebook ]</span><span id="twitter" class="twitter">[ Twitter ]</span><span id="linkedIn" class="linkedIn">[ LinkedIn ]</span><span id="tumblr" class="tumblr">[ tumblr ]</span>
							</div>
						</div>
						<div class="share-via-email">
							<label>Share via E-mail</label>
							<div class="field-holder">
								<input type="text" title="Enter e-mail addresses" value="Enter e-mails (comma separated)" data-initial="Enter e-mails (comma separated)" id="emailList" class="field blink">
								<a class="cs_import" id="submitEmail" href="#" data-cs-init="true"><span class="icon import"></span> Import</a>
							</div>
							<div id="share-email-more" class="lrhidden">
								<div class="field-holder">
									<input type="text" id="senderName" title="Enter your name" value="Enter your name" data-initial="Enter your name" class="field blink">
								</div>
								<div class="field-holder">
									<textarea id="message" data-initial="Enter a custom message (optional)" class="field blink lrmessage">Enter a custom message (optional)</textarea>
								</div>
								<input type="submit" id="sendinvite" class="submit sendinvite" value="Send invitations">
							</div>
						</div>
						<div class="share-link">
							<label>Share Link</label>
							<div class="field-holder">
								<input type="text" id="shareurl" title="http://launchrock.com/28n2je" value="http://launchrock.com/28n2je" class="field blink" readonly="readonly">
							</div>
						</div>
						<div id="footerLinks" class="social-links">
							<ul>
								<li>
									<a href="http://launchrock.com/blog">Blog</a>
								</li>
								<li>
									<a href="http://twitter.com/launchrock">Twitter</a>
								</li>
								<li>
									<a href="http://www.facebook.com/launchrock">Facebook</a>
								</li>
							</ul>
						</div>
						<div class="site-powered-by">
							powered by <a href="http://launchrock.com" style="text-indent: -9000px; ">launchrock</a>
						</div>
					</div><div class="clear"></div>
				</div>
				<script type="text/javascript" src="https://launchrock-ignition.s3.amazonaws.com/ignition-lr.1.1.js"></script>
			</div>
			<a id="outerbuttonmore" class="button" href="/features">Learn More</a>
		</div>
	</body>
</html>