<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<div class="site-holder">
			<div class="site" style="margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; ">
				<h2 class="site-title"><span>Project Name</span></h2>
				<div class="site-logo">
					<span></span>
				</div>
				<h3 class="site-subtitle"><span>How do you describe your project in one line?</span></h3>
				<p class="site-incentive">
					<span>Relationships are a two way street. You are asking people to give you their recommendation, so what are you giving them?</span><a href="#tooltip-site-incentive" class="edit" style="display: none; ">edit</a>
				</p>
				<!-- Modal Buttons -->
				<div id="like">
					<a href="#share-facebook-edit-tooltip" id="shareFacebookLikeSend" class="like-link share-facebook-edit-tooltip-button show-share-browser-popup-on-hover">Facebook</a>
					<a href="#share-twitter-edit-tooltip" id="shareTweet" class="like-link share-twitter-edit-tooltip-button show-share-browser-popup-on-hover">Tweet</a>
					<a href="#" id="linkedInShare" class="like-link share-linkedin-edit-tooltip-button">LinkedIn</a>
					<a href="#share-tumblr-edit-tooltip" id="tumblrShare" class="like-link share-tumblr-edit-tooltip-button show-share-browser-popup-on-hover">Tumblr</a>
				</div>
				<div class="share-via-email">
					<a href="#tooltip-share-via-email" class="edit" style="display: none; ">edit</a>
					<label>Share via E-mail</label>
					<div class="field-holder">
						<div class="lolfield">
							Enter e-mail addresses
						</div>
						<div class="btn-import">
							<span class="icon import"></span> Import
						</div>
					</div>
					<div class="field-holder" id="shareEmailSubject">
						Check out Project Name!
					</div>
					<div class="field-holder" id="shareEmailContent">
						I just signed up for Project Name because...
						<br>
						<br>
						You should check it out!
						<br>
						{REFURL}
					</div>
				</div>
				<div class="share-link">
					<label>Share Link</label>
					<div class="field-holder">
						<div class="lolfield">
							http://launchrock.com/28n2je
						</div>
					</div>
				</div>
				<div class="social-links">
					<ul>
						<li>
							<span class="blogUrl">Blog</span>
						</li>
						<li>
							<span class="twitterHandle">Twitter</span>
						</li>
						<li>
							<span class="fbPage">Facebook</span>
						</li>
					</ul>
					<a href="#tooltip-social-links" class="edit" style="display: none; ">edit</a>
				</div>
				<div class="site-powered-by">
					powered by <span class="lrlogo">launchrock</span>
				</div>
			</div>
		</div>
	</body>
</html>