<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" href="/css/interested_simple.css">
	</head>
	<body>
		<div class="container">
			<section class="clearfix" id="bottom">
				<section class="form">
					<h3>Subscribe For Updates:</h3>
					<form class="subscribe-form" id="subscribe-form" method="post" action="contact.php">
						<p>
							No spam, no selling of your email. Augue, elementum ac rutrum non, mattis eget magna. Augue, elementum ac rutrum non, mattis eget magna.
						</p>
						<fieldset>
							<input class="email required" name="email" type="text" value="Email">
							<input class="submit" type="submit" value="Subscribe">
						</fieldset>
						<div class="respond">
							<p><img src="images/ajax-loader.png" id="contact-loader" alt="Loader">
							</p>
							<p id="message-sent"></p>
						</div>
					</form>
				</section>
			</section>
		</div>
	</body>
</html>