<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
		<meta charset="UTF-8">
		<title>Paran Yo - Launching soon</title>
		<link rel="stylesheet" type="text/css" href="/css/interested_launchrock.css">
		<link rel="stylesheet" type="text/css" href="/css/interested_launchrock_ignition.1.0.css">
		<meta property="og:title" content="Paran Yo - Launching Soon">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://paran-yo-launchsoon.appspot.com">
		<meta property="og:image" content="http://paran-yo-launchsoon.appspot.com/logo/Nain_Seneb_200x261.jpg">
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="200" />
		<meta property="og:image:height" content="261" />
		<meta property="og:description" content="Paran Yo enables anyone to share items with people they trust." />
		<meta property="og:site_name" content="Paran Yo">
		
	</head>
	<body>
		<div id="homeBoxes" style="margin: 0px auto;">
			<div id="content" class="layoutbox loginbox">
				<div class="lrdiscoverwidget dark-a" rel="launchrock.com" data-background="off" id="dlrWidget0" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; ">
					<div id="titlebar" class="titlebar" style="display: none; ">
						<p>
							Paran Yo - Launching soon
						</p>
					</div>
					<div id="lrcontent" class="site lrcontent" style="box-shadow: none; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; ">
						<div id="boxlogo" style="text-align:center;margin-left:10px;"><img src="logo/paranyoboxlogo.png" alt="Paran Yo">
						</div>
						<h3 class="fancy" style="text-align:center;margin-top:100px;margin-bottom:30px;">The Pirate Bay and Megaupload are closed but WE can still save the planet!
						Don't copy anymore, share items with family, friends or strangers.</h3>
						<div id="inviteform" class="inviteform">
							<form action="" method="post" id="signupform">
								<label><em>Enter your email below to take part of the experience:</em></label>
								<input type="text" title="email@address.com" value="email@address.com" autocorrect="off" autocapitalize="off" data-initial="email@address.com" id="email" class="field blink">
								<input type="submit" name="submit" id="submit" title="GO" value="GO" class="submit">
								<div class="cl">
									&nbsp;
								</div>
							</form>
						</div>
						<div id="inviteform" class="inviteform">
							<label><em> Copyright &copy; 2012 - powered by <a href="http://www.alt-f1.be"  style="text-indent: -9000px; ">Abdelkrim BOUJRAF</a> and the <strong>ALT-F1 SPRL</strong> crew </em></label>
						</div>
					</div>
				</div>
			</div>
			<a id="outerbuttonmore" class="button" href="/features">Learn More</a>
		</div>
	</body>
</html>