{% extends "base.html" %}
{% block navbar %} {% include "_navbar.html" %} {% endblock %}

{% block body %}
<div class="row">
	<div class="span4 offset4" style="background: black">
		<h1 style="text-align: center; color:white">Paran Yo </h1>
		<p style="text-align: center; color:white">
			Invite as many friends as you want, your friends 
		</p>
		
		<form action="/invitefriend" method="post" class="well" style="color:white;background:black">
			<label><em><span style="; color:white"> Allow you friend to take part of the experience and input his/her
				email:</span></em></label>
			<fieldset>
				<input type="hidden" name="guest" value="{{ guest }}">
				<input type="text" name="email" class="span3"
				placeholder="email@address.com" id="email">
				<input
				type="submit" name="submit" id="submit" title="GO" value="GO"
				class="btn btn-primary btn-large">
				<span class="help-inline" style="color:white">We do not spam!</span>
			</fieldset>
		</form>
		<p style="text-align: center">
			<a class="btn btn-large btn-primary"> <i class="icon-info-sign icon-white"></i> Learn more &raquo;</a>
		</p>
		<p style="text-align: center; color:white">
			Copyright &copy; 2012 - powered by <a href="http://www.alt-f1.be">ALT-F1 crew
		</p>
	</div>
</div>
{% endblock %}

{% block analytics %} {% include "_google_analytics.html" %} {% endblock %} 