<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<div id="create-landing-page-box" class="step" style="height: auto;">
			<div class="control-box">
				<p class="intro">
					You are editing the landing page people will see when they visit your site.
				</p>
				<ul class="options">
					<li class="option">
						<h6>Box Theme:</h6>
						<a href="#page-theme" class="option-button" id="change-theme"><span class="icon color-palette"></span> Change Theme</a>
					</li>
					<li class="option file-upload" id="image-background">
						<h6>Background:</h6>
						<a href="#tooltip-upload-background" class="option-button edit" rel="-110, 0"><span class="icon folder"></span> Upload a File</a>
					</li>
				</ul>
				<a href="#create-sharing-page" class="button right save" id="save1">Save and Continue »</a>
			</div>
			<div class="browser-bar">
				<div class="browser-bar-right">
					<div class="page-title">
						Project Name - How do you describe your project in one line?
					</div>
					<div class="favicon">
						<img src="https://launchrock-assets.s3.amazonaws.com/favicon-files/site-default.ico">
						<a href="#tooltip-upload-favicon" class="edit" rel="-20,-10" style="display: none; ">edit</a>
					</div>
					<p class="address">
						<span>launch.yoursite.com</span>
					</p>
				</div>
			</div>
			<div class="page-layout dark-a" style="background-image: url(https://launchrock-assets.s3.amazonaws.com/background-files/site-default.jpg); ">
				<div class="titlebar" style="cursor: pointer; ">
					<div class="title">
						<span>Special Announcement About Important Things!</span><a href="#tooltip-announcementBanner" class="edit" rel="" style="display: none; ">edit</a>
					</div>
				</div>
				<div class="site-holder">
					<div class="site" style="margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; ">
						<div class="tooltip" style="display: block; ">
							<a href="#" class="close">x</a>
							<span class="arrow">&nbsp;</span>
							<p>
								Click on these to edit an item
							</p>
						</div>
						<h2 class="site-title"><span>Project Name</span><a href="#tooltip-site-title" class="edit" rel="" style="display: none; ">edit</a></h2>
						<div class="site-logo">
							<span></span><a href="#tooltip-site-title" class="edit" rel="" style="display: none; ">edit</a>
						</div>
						<h3 class="site-subtitle"><span>How do you describe your project in one line?</span><a href="#tooltip-tagline" class="edit" rel="" style="display: none; ">edit</a></h3>
						<p class="site-desc">
							<span>How would a friend describe what you are working on?
								<br>
								Sometimes being vague can work, but generally it is most helpful to tell people a little bit more about your project, or the team, or at the very least why you are keeping it a secret.</span><a href="#tooltip-desc" class="edit" rel="" style="display: none; ">edit</a>
						</p>
						<div class="inviteform">
							<form action="" method="post">
								<label class="invite-label"><span>Invite people to signup by entering their e-mail address:</span> <a href="#tooltip-invite-label" class="edit" style="display: none; ">edit</a></label>
								<input type="text" class="field blink">
								<input type="submit" class="submit" value="GO" disabled="">
								<div class="cl">
									&nbsp;
								</div>
							</form>
						</div>
						<div class="site-powered-by">
							powered by <span class="lrlogo">launchrock</span>
						</div>
					</div>
				</div>
			</div>
			<div id="page-theme" class="page-theme tab">
				<div class="tab-head">
					<h5><a name="page-theme" class="toggle">Page Theme <span></span></a></h5>
				</div>
				<div class="tab-body">
					<div id="theme-slider">
						<div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block; ">
							<div class="jcarousel-clip jcarousel-clip-horizontal" style="position: relative; ">
								<ul class="jcarousel-list jcarousel-list-horizontal" style="overflow-x: hidden; overflow-y: hidden; position: relative; top: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; width: 1684px; left: 0px; ">
									<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" style="float: left; list-style-type: none; list-style-position: initial; list-style-image: initial; " jcarouselindex="1">
										<a href="#" id="dark-a" class="active"> <img src="css/images/themes/dark-a.png"> <span class="caption">Apply Theme</span> </a>
									</li>
									<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" style="float: left; list-style-type: none; list-style-position: initial; list-style-image: initial; " jcarouselindex="2">
										<a href="#" id="dark-b"> <img src="css/images/themes/dark-b.png"> <span class="caption">Current Layout</span> </a>
									</li>
									<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" style="float: left; list-style-type: none; list-style-position: initial; list-style-image: initial; " jcarouselindex="3">
										<a href="#" id="dark-c"> <img src="css/images/themes/dark-c.png"> <span class="caption">Apply Theme</span> </a>
									</li>
									<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" style="float: left; list-style-type: none; list-style-position: initial; list-style-image: initial; " jcarouselindex="4">
										<a href="#" id="dark-d"> <img src="css/images/themes/dark-d.png"> <span class="caption">Apply Theme</span> </a>
									</li>
									<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-5 jcarousel-item-5-horizontal" style="float: left; list-style-type: none; list-style-position: initial; list-style-image: initial; " jcarouselindex="5">
										<a href="#" id="light-a"> <img src="css/images/themes/light-a.png"> <span class="caption">Apply Theme</span> </a>
									</li>
									<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-6 jcarousel-item-6-horizontal" style="float: left; list-style-type: none; list-style-position: initial; list-style-image: initial; " jcarouselindex="6">
										<a href="#" id="light-b"> <img src="css/images/themes/light-b.png"> <strong>Light B</strong> <span class="caption">Apply Theme</span> </a>
									</li>
									<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-7 jcarousel-item-7-horizontal" style="float: left; list-style-type: none; list-style-position: initial; list-style-image: initial; " jcarouselindex="7">
										<a href="#" id="light-c"> <img src="css/images/themes/light-c.png"> <span class="caption">Apply Theme</span> </a>
									</li>
									<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-8 jcarousel-item-8-horizontal" style="float: left; list-style-type: none; list-style-position: initial; list-style-image: initial; " jcarouselindex="8">
										<a href="#" id="light-d"> <img src="css/images/themes/light-d.png"> <span class="caption">Apply Theme</span> </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="slider-navigation">
							<a href="#" class="prev">&nbsp;</a>
							<a href="#" class="next">&nbsp;</a>
						</div>
					</div>
					<div class="border">
						&nbsp;
					</div>
					<div class="theme-options">
						<ul>
							<li class="text-alignment">
								<h6>Box Alignment:</h6>
								<a href="#" class="text-align-left">Left</a>
								<a href="#" class="text-align-center active">Center</a>
								<a href="#" class="text-align-right">Right</a>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- /tab -->
			<div class="visibility-settings tab">
				<div class="tab-head">
					<h5><a href="#" class="toggle">Visibility Settings <span></span></a></h5>
				</div>
				<div class="tab-body">
					<ul class="settings">
						<li>
							<div class="iPhoneCheckContainer" style="width: 70px; ">
								<input type="checkbox" class="iphone-checkbox show-announcement" checked="checked">
								<label class="iPhoneCheckLabelOff" style="width: 65px; "><span style="margin-right: -39px; ">OFF</span></label><label class="iPhoneCheckLabelOn" style="width: 43px; "><span>ON</span></label>
								<div class="iPhoneCheckHandle" style="width: 25px; left: 39px; ">
									<div class="iPhoneCheckHandleRight">
										<div class="iPhoneCheckHandleCenter"></div>
									</div>
								</div>
							</div>
							<label>Announcement Bar</label>
						</li>
						<li>
							<div class="iPhoneCheckContainer" style="width: 70px; ">
								<input type="checkbox" class="iphone-checkbox show-tagline" checked="checked">
								<label class="iPhoneCheckLabelOff" style="width: 65px; "><span style="margin-right: -39px; ">OFF</span></label><label class="iPhoneCheckLabelOn" style="width: 43px; "><span>ON</span></label>
								<div class="iPhoneCheckHandle" style="width: 25px; left: 39px; ">
									<div class="iPhoneCheckHandleRight">
										<div class="iPhoneCheckHandleCenter"></div>
									</div>
								</div>
							</div>
							<label>Tagline</label>
						</li>
						<li>
							<div class="iPhoneCheckContainer" style="width: 70px; ">
								<input type="checkbox" class="iphone-checkbox show-description" checked="checked">
								<label class="iPhoneCheckLabelOff" style="width: 65px; "><span style="margin-right: -39px; ">OFF</span></label><label class="iPhoneCheckLabelOn" style="width: 43px; "><span>ON</span></label>
								<div class="iPhoneCheckHandle" style="width: 25px; left: 39px; ">
									<div class="iPhoneCheckHandleRight">
										<div class="iPhoneCheckHandleCenter"></div>
									</div>
								</div>
							</div>
							<label>Description</label>
						</li>
						<li>
							<div class="required">
								Required
							</div>
							<label>E-mail Input</label>
						</li>
						<li>
							<div class="required">
								Required
							</div>
							<label>Site Title</label>
						</li>
						<li>
							<div class="iPhoneCheckContainer" style="width: 70px; ">
								<input type="checkbox" class="iphone-checkbox show-instructions" checked="checked">
								<label class="iPhoneCheckLabelOff" style="width: 65px; "><span style="margin-right: -39px; ">OFF</span></label><label class="iPhoneCheckLabelOn" style="width: 43px; "><span>ON</span></label>
								<div class="iPhoneCheckHandle" style="width: 25px; left: 39px; ">
									<div class="iPhoneCheckHandleRight">
										<div class="iPhoneCheckHandleCenter"></div>
									</div>
								</div>
							</div>
							<label>Instructions</label>
						</li>
						<li>
							<div class="required">
								Required
							</div>
							<label>LaunchRock Logo</label>
						</li>
					</ul>
				</div>
			</div><!-- /tab -->
			<div class="manually-edit-css tab">
				<div class="tab-head">
					<h5><a href="#" class="toggle">Manually Edit CSS <span>&nbsp;</span></a></h5>
				</div>
				<div class="tab-body">
					<div class="coming-soon">
						<h4>Coming Soon</h4>
					</div>
					<div class="editor "></div>
					<div class="editor-options">
						<div class="left">
							<a href="#" class="btn" id="css-save-update"><span class="icon save" id="css-save"></span> Save Changes</a>
						</div>
						<div class="right">
							<a href="http://www.w3.org/Style/CSS/" target="_blank"><span class="icon help"></span> CSS Guide</a>
							<span class="sep"></span>
							<a href="#" class="btn" id="css-update-preview"><span class="icon refresh"></span> Update Preview</a>
						</div>
						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div><!-- /tab -->
		</div>
	</body>
</html>