{% extends "base.html" %} {% block navbar %} {% include "_navbar.html" %}
{% endblock %} {% block body %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">

	<div class="span4 well offset4">
		<h1 style="text-align: center">
			<b>Paran Yo 
		</h1>
		<p style="text-align: center">Thank you for your registration, we
			will contact you as soon as the Beta is ready.<br/>
			In the meantime stay tuned by reading our blog</p>

		<p style="text-align: center">
			<a class="btn btn-primary btn-large">Learn more &raquo;</a>
		</p>
		<p style="text-align: center">
			Copyright &copy; 2012 - powered by <a href="http://www.alt-f1.be">Abdelkrim
				BOUJRAF</a> and the <strong>ALT-F1 SPRL</strong> crew </em>
		</p>
	</div>
</div>
{% endblock %} {% block analytics %} {% include "_google_analytics.html" %} {% endblock %}
